.landing-movies {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.image img {
    width: 200px;
    border-radius: 5px;
    margin: 10px 20px;
    box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.685);
}
.info .overview {
    /* width: 60%; */
    /* margin-left: 30px; */
}
/* .main-landing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    padding: 0 30px;
} */
.content-landing {
    /* margin: auto; */
    /* margin-left: 0; */
    width: 100vw;
    /* display: block; */
    /* min-height: 80vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    justify-content: flex-start;
}
.content-landing .contain {
    padding: 3em 0;
    /* margin-left: 0; */
}
.select-movie {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: absolute;
    top: 0;
    left: -8px;
    height: 100%;
    width: 2px;
}
.select-movie .circle {
    z-index: 400;
    height: 16.6%;
    width: 8px;
    background-color: #151824e0;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.select-movie .circle:hover {
}
.select-movie .circle.selected {
    background-color: rgb(25, 190, 200);
}
.details {
    background-color: rgba(0, 0, 0, 0.75);
    background-color: #151824a8;
    background: linear-gradient(90deg, #151824d0, #151824b7, #1518247c, #15182400);
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.26);
    position: relative;

    margin-left: 10%;
    /* border-radius: 10px; */
    width: 55%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-section {
    margin-top: 20px;
    background: linear-gradient(#15182400, #151824b5, #151824cb, #151824);
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 0;
}

.main-cards .card img {
    width: 100%;
}

.main-cards .card {
    position: relative;
    transition: all 0.8s ease;
}
.main-cards .card::before {
    content: '';
    position: absolute;
    left: -3px;
    height: 0%;
    transition: all 0.8s ease;
    width: 3px;
    background-color: #19bec8;
}
.main-cards .card:hover {
    transform: scale(1.055);
    z-index: 100;
}

.main-cards .card:hover::before {
    height: 100%;
}
button {
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1rem 2.8rem;
    margin: 2rem 0;
    font-weight: 700;
    background-color: rgb(25, 190, 200);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: #1e1e1e;
}
